<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Health Tracker</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar is-info">
                <a href="/dashboard" class="navbar-brand has-text-primary-light mb-0 h1">Health Tracker</a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a href="/"  id="login" class="button is-primary mr-4">Login</a>
                        <a href="/signup" id="signup" class="button is-warning mr-4">Sign-Up</a>
                        <button id="logout" class="button is-link mr-4">Logout</button>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="wrapper">
                {{{ body }}}
            </div>
        </main>
    </div>
    <script src="/javascript/logout.js"></script>
</body>
</html>