<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleUsername1">Username</label>
        <input type="text" class="form-control" id="exampleUsername1" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="exampleAge1">Age</label>
        <input type="text" class="form-control" id="exampleAge1" placeholder="Age">
    </div>
    <div class="form-group">
        <label for="exampleGender1">Gender</label>
        <input type="text" class="form-control" id="exampleGender1" placeholder="Gender">
    </div>
    <div class="form-group">
        <label for="exampleHeight1">Height</label>
        <input type="text" class="form-control" id="exampleHeight1" placeholder="Height">
    </div>
    <div class="form-group">
        <label for="exampleWeight1">Weight</label>
        <input type="text" class="form-control" id="exampleWeight1" placeholder="Weight">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>