<div class="container">
    <div class="row mt-5 justify-content-around">

      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">OLIVIA</div>
        <div class="card-body">
          <h5 class="card-title">Age:</h5>
          <p class="card-text">30</p>
          <h5 class="card-title">Gender:</h5>
          <p class="card-text">Female</p>
        </div>
      </div>
      
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">USERNAME</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">EMAIL</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

    </div>

    <div class="row mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Exercise</th>
            <th scope="col">Type</th>
            <th scope="col">Time</th>
            <th scope="col">Reps</th>
            <th scope="col">Sets</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>user</td>
            <td>user@email.com</td>
            <td>basketball</td>
            <td>cardio</td>
            <td>30</td>
            <td></td>
            <td></td>
            <td>11/23/21</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>user</td>
            <td>user@email.com</td>
            <td>situps</td>
            <td>abs</td>
            <td>15</td>
            <td>25</td>
            <td>5</td>
            <td>11/23/21</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>scooby-doo</td>
            <td>scooby-doo@email.com</td>
            <td>running</td>
            <td>cardio</td>
            <td>60</td>
            <td></td>
            <td></td>
            <td>11/24/21</td>
          </tr>
        </tbody>
      </table>

    </div>



</div>