<div class="container">
    <form class="addworkout-form">
        <div class="form-group">
            <label for="exerciseName">Exercise Name</label>
            <input type="text" class="form-control" name="exerciseName" id="ex-name" aria-describedby="emailHelp"
                placeholder="Exercise Name">
        </div>
        <div class="form-group">
            <label for="exerciseType">Exercise Type</label>
            <input type="text" class="form-control" name="category" id="ex-type" placeholder="Exercise Type">
        </div>
        <div class="form-group">
            <label for="exerciseTime">Exercise Time</label>
            <input type="text" class="form-control" name="ex_Time" id="ex-time" placeholder="Exercise Time">
        </div>
        <div class="form-group">
            <label for="reps">Reps</label>
            <input type="text" class="form-control" name="ex_Reps" id="reps" placeholder="Reps">
        </div>
        <div class="form-group">
            <label for="sets">Sets</label>
            <input type="text" class="form-control" name="ex_Sets" id="sets" placeholder="Sets">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="/javascript/add-workout.js"></script>